<link rel="stylesheet" href="/css/mobi.css">
<section>
    <div class="celular"><div class="camera"></div></div>
    <h1>Delculpe!</h1>
    <p>Nosso site não possui uma versão para celular<br>Porfavor abra o site no celular</p>
</section>